<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">
    <bean id="jestTemplate" class="com.x.es.JestTemplate">
        <constructor-arg name="nodes" value="${jest.nodes}" />
        <constructor-arg name="connTimeOut" value="${jest.connTimeOut}" />
        <constructor-arg name="readTimeOut" value="${jest.readTimeOut}" />
    </bean>
</beans>