<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                           http://www.springframework.org/schema/tx 
                           http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">
                           
    <bean id="redcubeTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dynamicDataSource"/>
    </bean>
    <!-- 定义事务策略 -->
    <tx:advice id="redcubeTxAdvice" transaction-manager="redcubeTransactionManager">
        <tx:attributes>
            <!--所有以query开头的方法都是只读的 -->
            <tx:method name="select*" propagation="REQUIRED" isolation="DEFAULT" read-only="true" rollback-for="Exception"/>
            <tx:method name="insert*" propagation="REQUIRED" isolation="DEFAULT" read-only="false" rollback-for="Exception"/>
            <tx:method name="update*" propagation="REQUIRED" isolation="DEFAULT" read-only="false" rollback-for="Exception"/>
            <tx:method name="delete*" propagation="REQUIRED" isolation="DEFAULT" read-only="false" rollback-for="Exception"/>
            <!--其他方法使用默认事务策略 -->
            <tx:method name="*" />
        </tx:attributes>
    </tx:advice>
    <!-- 定义AOP切面处理器 -->
    <bean id="dataSourceAspect" class="com.x.framework.aop.DataSourceAspect" />

    <!--<aop:config>-->
        <!--<aop:pointcut id="redcubeManagePointCut" expression="execution(* com.redcube.*.manage.*.* (..))"/>-->
        <!--<aop:advisor advice-ref="redcubeTxAdvice" pointcut-ref="redcubeManagePointCut"/>-->
    <!--</aop:config>-->

    <aop:config>
        <aop:pointcut id="redcubeManagePointCut" expression="execution(* com.x.application.*.manage.*.*(..))" />
        <aop:pointcut id="redcubeMasterSlavePointCut" expression="execution(* com.x.application.*.service.*.*(..))" />
        <!--将切面应用到自定义的切面处理器上，-9999保证该切面优先级最高执行 -->
        <aop:advisor pointcut-ref="redcubeManagePointCut" advice-ref="redcubeTxAdvice"/>
        <aop:aspect ref="dataSourceAspect" order="-9999">
            <aop:before pointcut-ref="redcubeManagePointCut" method="before" />
        </aop:aspect>
    </aop:config>
    
</beans>
