<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="exceptionCode" class="com.x.framework.exception.ExceptionCode">
        <property name="EXCEPTION_CODE0001">
            <value>操作失败</value>
        </property>
        <property name="EXCEPTION_CODE0002">
            <value>调用接口出错</value>
        </property>
    </bean>
</beans>