<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<import resource="applicationContext-exception.xml" />
	<import resource="applicationContext-redis.xml" />
	<import resource="applicationContext-db.xml" />
	<import resource="applicationContext-rpc-provider.xml" />
	<import resource="applicationContext-component.xml" />
	<import resource="applicationContext-transaction.xml" />
</beans>
